<router-outlet></router-outlet>
<div class="bg-[#033F63] w-full h-screen text-white flex flex-col gap-2 items-start p-5">
  <input type="text" placeholder="Type alias name..."  [(ngModel)]="searchText" class="px-4 py-2 text-gray-500 w-full">
  <div class="grid grid-cols-3 gap-1 w-full">
    <div class="flex flex-row gap-1 items-center justify-center border border-white hover:border-gray-400 cursor-pointer px-4 py-1" routerLink="new-alias">
      <img src="assets/icons/add.svg" alt="" srcset="" class="w-4 h-4">
      <p class="uppercase">Add new alias</p>
    </div>
    <div class="flex flex-row gap-1 items-center justify-center border border-white hover:border-gray-400 cursor-pointer px-4 py-1">
      <img src="assets/icons/export.svg" alt="" srcset="" class="w-4 h-4">
      <p class="uppercase">Export</p>
    </div>  
    <div class="flex flex-row gap-1 items-center justify-center border border-white hover:border-gray-400 cursor-pointer px-4 py-1">
      <img src="assets/icons/import.svg" alt="" srcset="" class="w-4 h-4">
      <p class="uppercase">Import</p>
    </div>  
    
  </div>

  <div class="w-full grid grid-cols-2 items-center justify-center gap-2">
    <div class="bg-[#184B69] px-4 py-2 border border-[#195A80]" *ngFor="let alias of aliases | search:searchText">
      <div class="flex flex-row gap-1 justify-between items-center">
        <p class="text-2xl font-bold">{{alias.name}}</p> 
        <img src="assets/icons/copy.svg" alt="" class="cursor-pointer" srcset="">
      </div>
     
      <p class="text-gray-400">{{alias.text}}</p>
    </div>
  </div>
</div>
