<div class="w-full text-black flex flex-col gap-2 items-start p-5">
    <div class="flex flex-row items-center justify-start gap-2 w-full">
        <input type="text" id="searchBox" placeholder="Search..." [(ngModel)]="searchText"
            class="px-4 py-2 text-gray-500 w-full rounded border border-gray-300 w-[95%]">
        <img src="assets/icons/settings.svg" alt="" srcset="" routerLink="/settings" class="cursor-pointer">
    </div>


    <div class="w-full items-center justify-center gap-2 flex flex-col mt-4">
        <div class=" px-4 py-2 border border-white border-b-gray-300 w-full  shadow-lg rounded-lg"
            *ngFor="let alias of aliases | search:searchText">
            <p class="text-2xl font-bold">{{alias.name}}</p>

            <p class="text-gray-400">{{alias.text}}</p>

            <div class="flex flex-row gap-1 items-center justify-between y-2 pt-2">
                    <div class="flex flex-row items-center justify-center gap-3">
                        <button ngxClipboard [cbContent]="alias.text" (click)="confirmCopyToClipboard(alias)">
                            <img src="assets/icons/copy.svg" alt="" class="cursor-pointer" srcset="">
                        </button>
    
                        <button (click)="openInBrowser(alias)">
                            <img src="assets/icons/browser.svg" alt="" class="cursor-pointer" srcset="">
                        </button>
    
                        <button>
                            <img src="assets/icons/share.svg" alt="" class="cursor-pointer" srcset="">
                        </button>
                    </div>

                    <div class="flex flex-row items-center justify-center gap-1 text-sm">
                        <button class="px-4 py-1 rounded border border-gray-500 hover:border-gray-400" [routerLink]="['/new-alias',alias.name]">Edit</button>
                        <button class="px-4 py-1 rounded bg-red-500 hover:bg-red-400 text-white" (click)="deleteAlias(alias)">Delete</button>
                    </div>
                    

            </div>
        </div>
    </div>
</div>