<div class="w-full text-white flex flex-col gap-2 items-start p-5">
    <input type="text" id="searchBox" placeholder="Type alias name..." [(ngModel)]="searchText"
        class="px-4 py-2 text-gray-500 w-full">
    <div class="grid grid-cols-3 gap-1">
        <div class="flex flex-row gap-1 items-center justify-center border border-white hover:border-gray-400 cursor-pointer px-4 py-1"
            routerLink="new-alias">
            <img src="assets/icons/add.svg" alt="" srcset="" class="w-4 h-4">
            <p class="uppercase">Add new alias</p>
        </div>
        <div
            class="flex flex-row gap-1 items-center justify-center border border-white hover:border-gray-400 cursor-pointer px-4 py-1 cursor-not-allowed">
            <img src="assets/icons/export.svg" alt="" srcset="" class="w-4 h-4">
            <p class="uppercase">Export</p>
        </div>
        <div
            class="flex flex-row gap-1 items-center justify-center border border-white hover:border-gray-400 cursor-pointer px-4 py-1 cursor-not-allowed">
            <img src="assets/icons/import.svg" alt="" srcset="" class="w-4 h-4">
            <p class="uppercase">Import</p>
        </div>

    </div>

    <div class="w-full items-center justify-center gap-2 flex flex-col mt-4">
        <div class="bg-[#184B69] px-4 py-2 border border-[#195A80] w-full"
            *ngFor="let alias of aliases | search:searchText">
            <div class="flex flex-row gap-1 justify-between items-center">
                <p class="text-2xl font-bold">{{alias.name}}</p>
                <div class="flex flex-row gap-2 items-center justify-center">

                </div>
            </div>
            <p class="text-gray-400">{{alias.text}}</p>

            <div class="flex flex-row gap-1 items-center justify-start">
                <button
                    class="bg-green-500 text-white flex flex-row gap-2 items-center justify-center px-4 py-1 mt-4 hover:bg-green-400"
                    ngxClipboard [cbContent]="alias.text" (click)="confirmCopyToClipboard(alias)">
                    <img src="assets/icons/copy.svg" alt="" class="cursor-pointer" srcset="">
                    <p>{{copySuccess[alias.name] ? 'Copied' : 'Copy'}}</p>
                </button>
                <button
                    class="bg-red-500 text-white flex flex-row gap-2 items-center justify-center px-4 py-1 mt-4 hover:bg-red-400" (click)="deleteAlias(alias)">
                    <img src="assets/icons/delete.svg" alt="" class="w-4 h-4" srcset="">
                    <p> Delete</p>
                </button>
            </div>
        </div>
    </div>
</div>