<div class="bg-sslash-500 p-6 w-screen h-full">
  <div class="flex flex-col gap-3 text-white">
    
    <div class="flex flex-row gap-3 justify-between items-center rounded text-white">
      <img src="assets/icons/logo.svg" alt="" srcset="">
      <button class="flex flex-row gap-1 items-center justify-center rounded bg-sslash-300 px-4 py-2">
        <p class="text-sslash-100">Settings</p>
        <img src="assets/icons/settings.svg" alt="" srcset="">
      </button>
    </div>

    <div class="flex flex-row gap-2 bg-gray-800 text-white rounded p-0 h-12">
      <input type="text" class="w-full bg-sslash-100 rounded p-3 text-gray-300" placeholder="Search..">
    </div>

    <div class="flex flex-col">
      <h1 class="py-4 text-lg text-sslash-100 font-bold">
        Text based Shortcuts
      </h1>    
      <div class="flex flex-row gap-3 justify-start items-center">
        <div class="flex flex-col items-center justify-center gap-0 rounded border border-sslash-100 p-2 w-1/3">
          <h1 class="text-md font-bold text-sslash-100 border-b border-b-sslash-100 w-full text-center py-2">
            Vergi numarası
          </h1>
          <p class="text-sslash-100 border-b border-b-sslash-100 w-full text-center py-2">
            lorem ipsum dolor sit amet.lorem ipsum dolor sit amet.lorem ipsum dolor sit amet.
          </p>
          <div class="flex flex-row w-full gap-0 items-center justify-center pt-2">
            <button class="text-sslash-100 w-1/2 items-center justify-center border-r border-r-sslash-100">
              DELETE
            </button>
            <button class="text-sslash-100 w-1/2 items-center justify-center">
              COPY
            </button>
          </div>
        </div>
  
        <div class="flex flex-col items-center justify-center gap-0 rounded border border-sslash-100 p-2 w-1/3">
          <h1 class="text-md font-bold text-sslash-100 border-b border-b-sslash-100 w-full text-center py-2">
            Email Taslak
          </h1>
          <p class="text-sslash-100 border-b border-b-sslash-100 w-full text-center py-2">
            lorem ipsum dolor sit amet.lorem ipsum dolor sit amet.lorem ipsum dolor sit amet.
          </p>
          <div class="flex flex-row w-full gap-0 items-center justify-center pt-2">
            <button class="text-sslash-100 w-1/2 items-center justify-center border-r border-r-sslash-100">
              DELETE
            </button>
            <button class="text-sslash-100 w-1/2 items-center justify-center">
              COPY
            </button>
          </div>
        </div>
  
        <div class="flex flex-col items-center justify-center gap-0 rounded border border-sslash-100 p-2 w-1/3">
          <h1 class="text-md font-bold text-sslash-100 border-b border-b-sslash-100 w-full text-center py-2">
            IP adresi
          </h1>
          <p class="text-sslash-100 border-b border-b-sslash-100 w-full text-center py-2">
            lorem ipsum dolor sit amet.lorem ipsum dolor sit amet.lorem ipsum dolor sit amet.
          </p>
          <div class="flex flex-row w-full gap-0 items-center justify-center pt-2">
            <button class="text-sslash-100 w-1/2 items-center justify-center border-r border-r-sslash-100">
              DELETE
            </button>
            <button class="text-sslash-100 w-1/2 items-center justify-center">
              COPY
            </button>
          </div>
        </div>
      </div>
    </div>
   
    <div class="flex flex-col">
      <h1 class="py-4 text-lg text-sslash-100 font-bold">
        URL based Shortcuts
      </h1>    
      <div class="flex flex-row gap-3 justify-start items-center">
        <div class="flex flex-col items-center justify-center gap-0 rounded border border-sslash-100 p-2 w-1/3">
          <h1 class="text-md font-bold text-sslash-100 border-b border-b-sslash-100 w-full text-center py-2">
            Vergi numarası
          </h1>
          <p class="text-sslash-100 border-b border-b-sslash-100 w-full text-center py-2">
            lorem ipsum dolor sit amet.lorem ipsum dolor sit amet.lorem ipsum dolor sit amet.
          </p>
          <div class="flex flex-row w-full gap-0 items-center justify-center pt-2">
            <button class="text-sslash-100 w-1/2 items-center justify-center border-r border-r-sslash-100">
              DELETE
            </button>
            <button class="text-sslash-100 w-1/2 items-center justify-center">
              COPY
            </button>
          </div>
        </div>
  
        <div class="flex flex-col items-center justify-center gap-0 rounded border border-sslash-100 p-2 w-1/3">
          <h1 class="text-md font-bold text-sslash-100 border-b border-b-sslash-100 w-full text-center py-2">
            Email Taslak
          </h1>
          <p class="text-sslash-100 border-b border-b-sslash-100 w-full text-center py-2">
            lorem ipsum dolor sit amet.lorem ipsum dolor sit amet.lorem ipsum dolor sit amet.
          </p>
          <div class="flex flex-row w-full gap-0 items-center justify-center pt-2">
            <button class="text-sslash-100 w-1/2 items-center justify-center border-r border-r-sslash-100">
              DELETE
            </button>
            <button class="text-sslash-100 w-1/2 items-center justify-center">
              COPY
            </button>
          </div>
        </div>
  
        <div class="flex flex-col items-center justify-center gap-0 rounded border border-sslash-100 p-2 w-1/3">
          <h1 class="text-md font-bold text-sslash-100 border-b border-b-sslash-100 w-full text-center py-2">
            IP adresi
          </h1>
          <p class="text-sslash-100 border-b border-b-sslash-100 w-full text-center py-2">
            lorem ipsum dolor sit amet.lorem ipsum dolor sit amet.lorem ipsum dolor sit amet.
          </p>
          <div class="flex flex-row w-full gap-0 items-center justify-center pt-2">
            <button class="text-sslash-100 w-1/2 items-center justify-center border-r border-r-sslash-100">
              DELETE
            </button>
            <button class="text-sslash-100 w-1/2 items-center justify-center">
              COPY
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col">
      <h1 class="py-4 text-lg text-sslash-100 font-bold">
        Workspace Shortcuts
      </h1>    
      <div class="flex flex-row gap-3 justify-start items-center">
        <div class="flex flex-col items-center justify-center gap-0 rounded border border-sslash-100 p-2 w-1/3">
          <h1 class="text-md font-bold text-sslash-100 border-b border-b-sslash-100 w-full text-center py-2">
            Vergi numarası
          </h1>
          <p class="text-sslash-100 border-b border-b-sslash-100 w-full text-center py-2">
            lorem ipsum dolor sit amet.lorem ipsum dolor sit amet.lorem ipsum dolor sit amet.
          </p>
          <div class="flex flex-row w-full gap-0 items-center justify-center pt-2">
            <button class="text-sslash-100 w-1/2 items-center justify-center border-r border-r-sslash-100">
              DELETE
            </button>
            <button class="text-sslash-100 w-1/2 items-center justify-center">
              COPY
            </button>
          </div>
        </div>
  
        <div class="flex flex-col items-center justify-center gap-0 rounded border border-sslash-100 p-2 w-1/3">
          <h1 class="text-md font-bold text-sslash-100 border-b border-b-sslash-100 w-full text-center py-2">
            Email Taslak
          </h1>
          <p class="text-sslash-100 border-b border-b-sslash-100 w-full text-center py-2">
            lorem ipsum dolor sit amet.lorem ipsum dolor sit amet.lorem ipsum dolor sit amet.
          </p>
          <div class="flex flex-row w-full gap-0 items-center justify-center pt-2">
            <button class="text-sslash-100 w-1/2 items-center justify-center border-r border-r-sslash-100">
              DELETE
            </button>
            <button class="text-sslash-100 w-1/2 items-center justify-center">
              COPY
            </button>
          </div>
        </div>
  
        <div class="flex flex-col items-center justify-center gap-0 rounded border border-sslash-100 p-2 w-1/3">
          <h1 class="text-md font-bold text-sslash-100 border-b border-b-sslash-100 w-full text-center py-2">
            IP adresi
          </h1>
          <p class="text-sslash-100 border-b border-b-sslash-100 w-full text-center py-2">
            lorem ipsum dolor sit amet.lorem ipsum dolor sit amet.lorem ipsum dolor sit amet.
          </p>
          <div class="flex flex-row w-full gap-0 items-center justify-center pt-2">
            <button class="text-sslash-100 w-1/2 items-center justify-center border-r border-r-sslash-100">
              DELETE
            </button>
            <button class="text-sslash-100 w-1/2 items-center justify-center">
              COPY
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>